/* Font */
header {
  font-family: "Great Vibes", cursive;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 64px;
}
section[description] {
  font-family: "Great Vibes", cursive;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 32px;
}
/* Grid */
main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*fr is good for breaking up less open space into fractions
    auto give this thing as much space as it needs
    */
  grid-template-columns: 1fr;
  grid-template-areas:
    "description"
    "teaResult";
  gap: 1em;
}
/* Sections centering */
header {
  align-self: center;
  text-align: center;
  margin: auto;
}
section[description] {
  grid-area: description;
  align-self: center;
  margin: auto;
}
section[teaResult] {
  grid-area: teaResult;
  text-align: left;
  margin: auto;
}

/*Align Center*/
/* center align content */
h1,
p,
header,
main {
  margin: auto;
}
main {
  text-align: center;
}
p {
  text-align: left;
}

/*Background*/
body {
  background: rgb(145, 209, 139);
  background: radial-gradient(
    circle,
    rgba(145, 209, 139, 1) 0%,
    rgba(79, 121, 75, 1) 100%
  );
}
/*Mobile header font size*/
@media screen and (max-width: 750px) {
  header {
    font-size: 30px;
    text-shadow: none;
  }
  section[description]
  {
    text-shadow: none;
  }
}
