/*Align Center*/
/* center align content */
h1,
p,
img,
main {
  margin: auto;
}
main {
  text-align: center;
}
main {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    /*fr is good for breaking up less open space into fractions
    auto give this thing as much space as it needs
    */
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "catPicker"
      "teaResult";
    gap: 1em;
  }